@media only screen and (max-width: 767px) {
  
    html 
    {
        font-size: 14px;
    }
    .aboutDeveloper > div
    {
        width: 100%;
    }

    .sameHeading
    {
        font-size: 1.2rem !important;
    }
    .card {
        width: 22rem !important;
    }
    body > div 
    {
        padding:5% 8% !important;
    }

    .NatureImg
    {
        width: 33%;
        height: 10%;
    }

    .blogImg
    {
        width: 45%;
        height: 10%;
    }

    .testinomialPic
    {
    left: 40%;
    top: 12%;
    }

    .contentIntro
    {
        background-image: none;

    }

.planType > .card ,.infoCard > .card,.workCard > .card,.categoryCards > div
{
    box-shadow: 1px 1px 3px #0e0f0f;
    margin-bottom: 5%;
}

.intro ,.contentIntro
{
    height: auto;
}

.searchIntro
{
    width: 100%;
    height: 3rem;
}

.mobileImage
{
    width: 100%;
    height:  12rem;
}

.aboutDeveloper,.hireContainer
{
 background-color: #f4fafa;

}
.carousel-control-prev-icon,.carousel-control-next-icon 
{
    filter: invert(100%); 
}

.subHeadingPlan
{
  font-size: 1rem;
}
.planRate > p ,.planRate > div,.planRate ,.planRate span
{
    background-color: #d02184;
    color: white;
}

.workCard > .card
{
    width: 75%;
}
.headingPlan
{
    font-size: 2rem !important;
}
.intro  > .navbarContainer,.navbar-toggler
{
    padding:0 !important;
}

.navbar-toggler-icon{
    font-size: 2rem;
}

.categoryCards > div
{
    border-radius: 5px;
}

}

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1030px) 
  
  {
    .categoryCards  hr ,.categoryCards .verticalline 
    {
        display: none !important;
    }

    .categoryCards {
        padding: 0 5%;
    }

    .workCard > .card
    {
            width: 40%;
    }

    .reviews 
    {
        flex-wrap: wrap;
    }
    .planType,.planContent
    {
        padding :3% 0 !important;
    }

    .planType  li 
    {
        text-align: left;
    }

    .planType  .card 
    {
        width: 30%;
    }

    .intro
    {
        height: auto;
        padding:5% 5%;
    }

.navbarContainer
{
    padding: 3% 0%;
    justify-content: space-between;
}

.viewAllCategory,.followUs
{
    display: none !important;
}

.intro li 
{
    font-size: .5rem;
}
#navbarLeft
{
    margin: 0 !important;
}
.footer
{
    padding:2% 5%

}
.footerTopContent
{
    flex-direction: column !important;
}

.footerTopContent > div 
{
    margin-bottom: 5% !important;
}
.subtextFooter ,.blogText,.footerHeading,.blogHeading
{
    font-size: 1.2rem;
}

.blogImg
{
    height: 6rem;
}

.NatureImg
{
    width: 10rem;
    height: 10rem;
}

.social
{
 width: 20px;
 height: 30px;
}

.footerContent .introLogo
{
    width: 3rem !important;
}

.footerCollage > div ,.footerCollage
{
    width: 100%;

}
.NatureImg
{
    width: 30%;
}



}